@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header ul, .footer ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.header a, .footer a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.content .buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.content .buttons button {
  padding: .5em;
}

.footer {
  background-color: #eee;
}